@import './responsive_vars.scss';

.card {
  width: 100%;
  overflow: hidden;
  max-width: 400px;
  border-radius: 8px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  img {
    width: 100%;
    object-fit: cover;
  }
  .info-container {
    padding: 0.5rem 1rem;

    h1 {
      text-align: left;
      font-family: 'Poppins', sans-serif;
      padding: 0.5rem 0;
    }
    p {
      line-height: 1.5rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
    }
    @include mobile {
      padding: 0.5rem;

      h1 {
        padding: 0.5rem 0;
      }
    }
  }
  .buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    align-items: center;
    gap: 2rem;
    @include mobile {
      padding: 0.5rem;
    }
    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      height: 80px;
      svg {
        height: 80px;

        width: auto;
        path {
          transform: scale(1.5);
        }
      }
    }
  }
}
